p {
  font-size: 1em;
  line-height: 1.89em;
  padding-bottom: 10%;
}

individual_project > div {
  margin-bottom:2em;
}

/*Original*/

#nextstep img{
  margin-bottom: 2em;
}

#overview .copy {
  width: 46%;
  margin: auto;
  text-align: center;
}
#overview .callout{
  font-style: italic;
  font-weight: 200;
  font-size: 1.25em;
  margin-bottom: 2em;
  width: 100%;
  align-self: center;
  text-align: center;
}

#evaluation p{
  margin-bottom: 3em;
}

#evaluation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#evaluation img{
  width: 33%;
}

#digitalmodel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#digitalmodel img,#digitalmodel p{
  width: 48%;
}

#build {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#build div{
  width: 47%;
}

#build div{
  align-self: center;
  margin-bottom: 5em;
}

#build div p{
  font-size: .9em;
  line-height: 2em;
}

#build div h3{
  font-size: 1.6em;
  margin-bottom: 1em;
}

#build  img{
  object-fit: cover;
  width: 50%;
  height: 15em;
  margin-bottom: 5em;
}

#modeling img{
  width: 48%;
}

#modeling p{
  margin-top: 2em;
  width: 66%;
}

#modeling div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
#modeling{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#modeling div img{
  height: 15em;
  margin-bottom: 2em;
}

#inspiration img{
  height: 20em;
  width: 100%;
  margin-bottom: 2em;
  object-fit: cover;
}

#inspiration p{
  width: 66%;
}

#evaluation p{
  columns: 2;

}

#nextstep p{
  columns: 2;

}

#overview .footnote{
  font-size: .75em;
  margin-top: 2em;
}

#nextstep{
  display:flex;
  flex-direction: column;
}

#nextstep img{
  width: 75%;
  align-self: center;
}

#related_projects{
  margin-bottom: 7em;
}








#intro_descriptors{
    text-align: center;
    width: 70%;
    margin: auto;
    padding: auto;
}

.descriptors{
  text-align: center;
    color: grey;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 0.075em;
    line-height: 2em;
    text-transform: lowercase;
margin-top: 3em; 
margin-bottom: 3em;
width: 100%;
padding-bottom:0%;
}

img {
    width: 100%;
    padding-bottom: 10%;
}


#first-chart{
margin-bottom: 0%;
}

#first-chart img{
  padding-bottom: 0%;
  }

#first-chart > p{
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: .7em;
}

ul{
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}

li {
  font-size: auto;
  text-align:left;
}

#research > img:nth-child(11){
  height: 100%;
}

#mission-column1 {
    float: left;
    width: 50%;
    text-align: left;

}

/* Clear floats after the columns */
#mission-row1:after {
    content: "";
    display: table;
    clear: both;
}

#mission-column1:nth-child(2){
  padding-top: 0;
}

#mission-column1 > p:nth-child(2){
  font-weight: 700;
  padding-top: 10%;
}

#mission-column2 {
    float: left;
    width: 50%;
    text-align: left;

}

.padding-mission {
  padding-top: 10%;
}

#mission-column2 > p:nth-child(2){
  font-weight: 700;
}


#moodboard > p{
 
  padding-bottom: 10%;

}

#moodboard > img{
   padding-bottom: 0%;
 
 }

#moodboard-column {
    float: left;
    width: 30%;
    margin: 0em 1em 0em 0em;

}

#moodboard-picture-grid:after {
    content: "";
    display: table;
    clear: both;
}

#moodboard-column > p {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: .7em;

}

.moodboard-last-column {
  float: left;
  width: 45%;

}

#moodboard-last-grid:after {
  content: "";
  display: table;
  clear: both;
}

.moodboard-last-column > h3 {
    color: grey;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    letter-spacing: .075em;
    line-height: 2.8em;
    text-transform: lowercase;
}

#logo-first-column {
  float: left;
  width: 31%;
  margin: 0em 1em 0em 0em;
}

#logo-first-column > p {
  margin: 5%;
  font-size: .7em;
}

#logo-first-grid {
  content: "";
  display: inline-flex;
  clear: both;
  padding-bottom: 0%;
}

#logo-second-column {
  float: left;
  width: 50%;
  margin: 0%;
}

#logo-second-column > p {
  margin: 5%;
  font-size: .7em;
}

#logo-second-column > img {
  object-fit: contain;
}

#logo-second-grid {
  content: "";
  display: inline-flex;
  clear: both;
  padding-bottom: 0%;
}

